html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background: yellow;
  font-family: arial, helvetica, verdana, sans-serif;
  font-size: 12px;
}
h1 {
  font-size: 2em;
}
a {
  background: black;
  color: white;
  text-decoration: none;
}
